{% load widget_tweaks %} {% comment %}
<div class="modal-content">
  <div class="page-wrapper-new p-0">
    <div class="content">
      <div class="modal-header border-0 custom-modal-header">
        <div class="page-title">
          <h4>Edit Category</h4>
        </div>
        <button
          type="button"
          class="close"
          data-bs-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body custom-modal-body"></div>
    </div>
  </div>
</div>
{% endcomment %}

<div class="modal-dialog modal-dialog-centered custom-modal-two">
  <div class="modal-content">
    <div class="page-wrapper-new p-0">
      <div class="content">
        <div class="modal-header border-0 custom-modal-header">
          <div class="page-title">
            <h4>Edit Category</h4>
          </div>
          <button
            type="button"
            class="close"
            data-bs-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body custom-modal-body">
          <form id="editForm" action="{{request.path}}" method="post">
            {% csrf_token %}
            <div class="mb-3">
              <label class="form-label">Category</label>
              {% render_field form.name class="form-control" %}
            </div>

            <div class="mb-0">
              <div class="status-toggle modal-status">
                <span class="status-label">Status</span>
{% render_field form.status|attr:"type:checkbox" id="user3"  class="check" %}
                  <label for="user3" class="checktoggle"></label>
              </div>
            </div>
            <div class="modal-footer-btn">
              <button
                type="button"
                class="btn btn-cancel me-2"
                data-bs-dismiss="modal"
              >
                Cancel
              </button>
              <button type="submit" class="btn btn-submit">Save Changes</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
