[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-htmx = "*"
django-widget-tweaks = "*"
django-environ = "*"
faker = "*"
django-channels = "*"
psycopg = {extras = ["binary"], version = "*"}
python-decouple = "*"
django-render-block = "*"

[dev-packages]

[requires]
python_version = "3.13"
python_full_version = "3.13.0"
